
<table>
  <tr>
    <th>First Name</th>
    <th>Last Namet</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  <% @students.each do |student| %>
  <tr>
    <td><%=student.first_name%></td>
    <td><%=student.last_name%></td>
    <td><%=student.email%></td>
  </tr>
  <% end %>
</table>

<p><a href='/'>Home</a></p>
